<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="secret-text">Don't keep your secrets, share them anonymously!</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>

    <% if(secret.length != 0){ %>
      <hr>
        <h1 class="display-3">Your Secrets</h1>
        <form  action="/submit/delete" method="post">
          <div class="form-group">
            <select class="form-control text-center" name="secret">
              <% secret.forEach(function(secrets){ %>
                <option value="<%= secrets %>"><%= secrets %></option>
              <% }); %>
            </select>
          </div>
          <!-- <input type="hidden" name="secretId" value="<%=secret._id%>"> -->
          <button type="submit" class="btn btn-dark" value="<%= secret%>" name="secretText">Delete Secret</button>
        </form>
  <%  } %>


  </div>
</div>
<%- include('partials/footer') %>
